@model FilmInfoFull
@{
    ViewData["Title"] = Model.Name;
    string VideoSrc = "";
    if (Model.VideoSrc.Count > 0)
        VideoSrc = ViewData["FilmsSRC"] + Model.VideoSrc[0].Src;
    string isHeartOn = "";
    if (Model.IsLiked)
        isHeartOn = "On";
}


<div class="video_player_container flex-center">
    <video class="video_player" controls="controls">
        <source src=VideoSrc type="video/mp4">
        Ваш браузер не поддерживает video.
    </video>
</div>
<div class="text_container">
    <div class="flex-center">
        <div class="film_name">@Model.Name</div>
        <i class="fa fa-heart image_like @isHeartOn" aria-hidden="true"></i>
        <select class="rating_selector">
            <option class="selector_style">Rate</option>
            @for (int i = 1; i <= 10; ++i)
            {
                @if (Model.Rating != null && Model.Rating == i)
                {
                    <option class="selector_style" selected>i</option>
                }
                else
                {
                    <option class="selector_style">i</option>
                }
            }
        </select>
    </div>
    <div class="image_info"></div>
    <ul class="film_info_list">
        @foreach (var i in Model.SoloOptions)
        {
            <li>
                <span class="film_characteristic_name">@i.Key:</span>
                <span class="film_characteristic_info">@i.Value</span>
            </li>
        }
        @foreach (var i in Model.ListOptions)
        {
            <li>
                <span class="film_characteristic_name">@i.Key:</span>
                @foreach (var j in (List<object>)i.Value)
                {
                    <span class="film_characteristic_info">@j, </span>
                }
            </li>
        }
        <li>
            <span class="film_characteristic_name">Description:</span>
            <span class="film_characteristic_info">@Model.Name</span>
        </li>
    </ul>
</div>
<div class="comments_container hidden">
    <div class="comment_request">Comments</div>
    <div class="comment-field flex-center">
        <div class="user_image_info"></div>
        <div class="textarea_comment">
            <textarea cols="10" rows="3"></textarea>
        </div>
        <button class="button-publish-comment">Publish</button>
    </div>
    <ul class="comments_under_video">
        <li>
            <div class="user_image_info"></div>
            <span class="comment_text">Nice film, maybe it`s 9/10.</span>
        </li>
    </ul>
</div>